.blog {
    width: 400px;
}

blockquote p {
    font-size: 0.8em !important;
}

.works-cited p {
    padding-left: 3em;
    text-indent: -3em;
}

.body img {
    width: 100%;
    height: auto;
}

.lyrics {
    white-space: pre-wrap;
    text-align: center;
}

.center-div {
    margin: 0 auto;
    display: table;
}

.card-deck {
    padding-bottom: 1.25rem;
}